<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
    <div class="pull-right">
      <%= button_to "Dashboard", home_events_path, :method => "get", :class=> "btn btn-primary" %>
    </div>
<% end %>
<h1 class= "text-center">Listing of all the Events</h1>
    
<hr>
<div class="col-md-4">
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @events %>
    </div>
    <%= will_paginate @events, :container => false %>
</div>

</div>
<div class="col-md-6">
  <%= form_tag events_path, :method => 'get' do %>
      <div class="col-md-10">
          <%= text_field_tag :search, params[:search], :class=> "form-control",:placeholder => "Search Event by Title" %>
      </div>
      <div class="form-group">
          <center><%= submit_tag "Search", :name => nil,:class => "btn btn-primary " %></center>
      </div> 
    <% end %>
</div>



<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable "title" %></th>
      <th><%= sortable "description" %></th>
      <th><%= sortable "date" %></th>
      <th><%= sortable "start_time" %></th>
      <th><%= sortable "end_time" %></th>
      <th><%= sortable "address" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.date %></td>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= event.address %></td>
        <td><%= link_to 'Show', event %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

